jinja2
markupsafe
asttokens
bleach
certifi
charset-normalizer
comm
contourpy
cycler
debugpy
decorator
exceptiongroup
executing
filelock
fonttools
fsspec
idna
imageio
importlib-metadata
ipykernel
ipython
jedi
joblib
jupyter-client
jupyter-core
kaggle
kiwisolver
lazy-loader
matplotlib
matplotlib-inline
mpmath
nest-asyncio
networkx
numpy
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
opencv-python
packaging
pandas
parso
pexpect
pickleshare
pillow
pip
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
pygments
pyparsing
python-dateutil
python-slugify
pytz
pyzmq
requests
scikit-image
scikit-learn
scipy
setuptools
six
stack-data
sympy
text-unidecode
threadpoolctl
tifffile
torch
torchaudio
torchvision
tornado
tqdm
traitlets
triton
typing-extensions
tzdata
urllib3
wcwidth
webencodings
wheel
zipp
autocommand
backports.tarfile
importlib-resources
inflect
jaraco.collections
jaraco.context
jaraco.functools
jaraco.text
more-itertools
tomli
typeguard